<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <th:block th:insert="~{bootstrap/insertStylesheet :: css}"/>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h3 mb-3 font-weight-normal">Employee List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="btn btn-primary mb-3">
                Logout <span sec:authentication="principal.username"/>
            </a>
            <a th:href="@{/employee/create}" class="btn btn-primary mb-3">Create</a>
        </div>
    </div>
    <div class="row" th:unless="${warningMassage == null}">
        <div class="col alert alert-danger" role="alert">
            <span th:text="${warningMassage}"/>
        </div>
    </div>
    <div class="row" th:unless="${employees == null || employees.isEmpty()}">
        <div class="col">
            <table class="table table-lite table-striped">
                <thead>
                <tr>
                    <th scope="col">
                        <a th:href="@{/employee/page(number='1',
                        direction=${#strings.equals(currentDirection, 'ASC')} ? 'DESC' : 'ASC',
                        fieldName='firstName')}">First Name</a>
                    </th>
                    <th scope="col">
                        <a th:href="@{/employee/page(number='1',
                        direction=${#strings.equals(currentDirection, 'ASC')} ? 'DESC' : 'ASC',
                        fieldName='lastName')}">Last Name</a>
                    </th>
                    <th scope="col">
                        <a th:href="@{/employee/page(number='1',
                        direction=${#strings.equals(currentDirection, 'ASC')} ? 'DESC' : 'ASC',
                        fieldName='email')}">Email</a>
                    </th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td>
                        <a th:href="@{/employee/update(id=${employee.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/employee/delete(id=${employee.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <b>Total rows: [[${totalElements}]]</b>
        </div>
        <div class="col" th:if="${totalPages > 1}">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage - 1 < 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/employee/page(number=${currentPage - 1},
                        direction=${currentDirection}, fieldName=${currentFieldName})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <li class="page-item" th:classappend="${currentPage == i} ? 'active'">
                            <a class="page-link" th:href="@{/employee/page(number=${i},
                        direction=${currentDirection}, fieldName=${currentFieldName})}">[[${i}]]</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${currentPage + 1 > totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/employee/page(number=${currentPage + 1},
                        direction=${currentDirection}, fieldName=${currentFieldName})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<th:block th:insert="~{bootstrap/insertStylesheet :: js}"/>
</body>
</html>